:root {
  --ivory: #FFFFF0;
  --champagne: #F7E7CE;
  --blush-pink: #FADADD;
  --charcoal-gray: #333333;
  --pale-sage: #C7D3C0;
  --soft-gold: #E8D8A6;
  --soft-black: #1C1C1C;
  --light-taupe: #B9B6B0;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--ivory);
}
header{
    height: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.pagrindinis_logo{
    position: relative;
    margin-left: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 40px; 
    color: var(--charcoal-gray);
}
.header_mygtukai_div{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-right: 60px;
}    
.header_mygtukai_div button{
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    color: var(--charcoal-gray);
}
.content1{
    height: 80vh;
    display: flex;
}
.text1{
    width: 50%;
}
.nuotrauka1_div{
    width: 50%;
}
.nuotrauka1{
    width: 100%;
    height: 100%;
}
.pagrindinis_tekstas{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    width: 40%;
    position: absolute;
    left: 5%;
    top: 20%;
    display: flex;
    align-items: flex-end;
}
.pagrindinis_tekstas p{
    width: 195px;
    display: inline-block;
    margin-left: auto;
}
.tekstas1{
    width: 80%;
    position: relative;
    font-size: 20px;
    font-family: serif;
    top: 160px;
    text-align: right;
    margin-left: 10%;
}
.tekstas2{
    width: 80%;
    position: relative;
    font-size: 20px;
    font-family: serif;
    top: 160px;
    text-align: right;
    margin-left: 10%;
    z-index: 2;
    display: none;
}
.rezervacijos_mygtukas_div{
    position: relative;
    top: 34%;
    left: 10%;
    width: 80%;
    text-align: right;
}
.rezervacijos_mygtukas{
    background: none;
    border: none;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: burlywood;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.fa-greater-than{
    position: relative;
    color: burlywood;
    cursor: pointer;
}
@media (max-width: 800px){
   .content1{
    height: 80vh;
   }
   .nuotrauka1{
    height: 70%;
    position: absolute;
    left: 0%;
    z-index: 1;
    filter: blur(10px);
   } 
   .pagrindinis_tekstas{
        font-size: 30px;
        width: 100%;
        left: 2.5%;
        z-index: 2;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
   }
   .pagrindinis_tekstas p{
    width: 25%; 
    margin: auto;
    z-index: 2;
    color: var(--ivory);
    font-weight: bold;
   }
   .tekstas1{
    font-size: 18px;
    width: 90%;
    margin-left: 5%;
    top: 110px;
    text-align: center;
    z-index: 2;
    color: var(--ivory);
    display: none;
   }
   .tekstas2{
    display: block;
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .tekstas2 p{
    width: 50%;
    color: var(--ivory);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    text-align: center;
   }
   .rezervacijos_mygtukas_div{
        left: 55%; 
        z-index: 2;
        top: 350px;
   }
   .rezervacijos_mygtukas{
    font-size: 35px;
    -webkit-text-stroke: 1px #73624A;
    margin-left: 40px;
   }
   .fa-greater-than{
    display: none;
   }
   .header_mygtukai_div{
    margin-right: 120px;
   }
   .header_mygtukai_div button{
    margin-right: 10px;
   }
}
.content2{
    width: auto;
    height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pavadinimas{
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: var(--charcoal-gray);
    font-weight: bold;
    letter-spacing: 4px;
    color: #B2BEB5;
    margin-top: 80px;
}
.pagrindinis_tekstas2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    letter-spacing: 8px;
    position: relative;
    bottom: 40px;
    color: var(--charcoal-gray);
    display: flex;
    text-align: center;
}

.paslaugos_div {
    display: flex;
    flex-wrap: wrap; /* Wrap items when container size changes */
    gap: 20px; /* Add space between items */
    justify-content: center; /* Center the items in the container */
    width: 80%;
    margin: 0 auto; /* Center the entire container */
}

.paslauga {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 20px); /* Take into account gap spacing */
    min-width: 260px; /* Prevent elements from becoming too small */
}

.nuotraukos_div {
    width: 100%; /* Full width of the parent container */
    aspect-ratio: 4 / 3; /* Maintain consistent aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightslategray;
}

.main_page_image1 {
    width: 85%;
    height: 85%;
    object-fit: cover; /* Ensure images fill the container while keeping their aspect ratio */
}


.paslaugos_pavadinimas {
    font-size: 22px;
    color: var(--charcoal-gray);
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.paslaugos_aprasymas_div {
    width: 90%;
    text-align: center;
    font-size: 16px;
    color: var(--charcoal-gray);
    margin-top: 10px;
}

.paslaugos_aprasymas {
    line-height: 1.5; /* Improve readability */
    margin: 0;
}
@media (max-width: 800px){
    .content2{
        height: 180vh;
        position: relative;
        margin-top: -140px;
    }   
    .pavadinimas{
        margin-top: 0px;
    }
    .pagrindinis_tekstas2{
        font-size: 26px;
    }
}
.content3{
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.galerijos_div{
    width: 48%;
    height: 90%;
    margin-top: 8%;
    background-color: #c4a484;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.registracijos_div{
    width: 48%;
    height: 90%;
    margin-top: 2%;
    background-color: #587382;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galerijos_div_nuotruka{
    width: 65%;
    height: 65%;
    position: relative;
    top: 20px;
}
.galerijos_tekstas{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: var(--ivory);
    font-weight: bold;
    margin-top: 60px;
}
.galerijos_mygtukas{
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    color: var(--ivory);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
#button_arrow{
    position: relative;
    top: -18px;
    left: 80px;
    color: var(--ivory);
    font-size: 14px;
}
.registracijos_tekstas1{
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    font-weight: bold;
    color: #415560;
    position: relative;
    top: 40px;
}
.registracijos_tekstas2{
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    font-weight: bold;
    color: var(--ivory);
    position: relative;
    top: -160px;
}
.registracijos_tekstas3{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: bold;
    color: var(--ivory);
    position: relative;
    top: -200px;
}
.rezervacijos_mygtukas2{
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    color: var(--ivory);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -200px;
}
#button_arrow2{
    position: relative;
    top: -218px;
    left: 242px;
    color: var(--ivory);
    font-size: 14px;
}
@media (max-width: 800px){
    .content2{
        position: relative;
        top: 100px;
    }
    .galerijos_div{
        height: 65%;
    }
    .registracijos_div{
        height: 65%;
    }
    .galerijos_div_nuotruka{
        height: 50%;
        width: 80%;
    }
    .galerijos_tekstas{
        font-size: 26px;
    }
    .registracijos_tekstas1{
        font-size: 70px;
        top: 0px;
    }
    .registracijos_tekstas2{
        font-size: 70px;
        top: -140px;
    }
    .registracijos_tekstas3{
        font-size: 26px;
        top: -130px;
    }
    .rezervacijos_mygtukas2{
        top: -130px;
    }
}
.content4{
    height: 80vh;
    width: auto;
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.atsiliepimai_div{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.atsiliepimai_div div{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fa-comment{
    color: #C4A484;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.atsiliepimas{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #a18568;
    line-height: 1.5;
}
.vardas{
    color: #666666;
    font-weight: bold;
}
.kliente{
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    color: #666666;
    top: -24px;
}
@media(max-width: 800px){
    .content4{
        top: -200px;
    }
    .atsiliepimai_div{
        width: 95%;
    }
    .atsiliepimai_div div{
        width: 30%;
    }
}
footer{
    position: relative;
    top: 150px;
    height: 38vh;
    width: 100%;
    background-color: #C4A484;
    display: flex;
}
.container{
    display: flex;
    height: 100%;
    width: 80%;
}
.footer_meniu{
    width: 30%;
    padding-left: 5%;
}      
.footer_meniu1{
    width: 20%;
    padding-left: 5%;
}
.footer_meniu_pavadinimas{
    font-family: sans-serif;
    font-size: 26px;
    color: var(--ivory);
}
.footer_meniu_pavadinimas_laikas{
    font-family: sans-serif;
    font-size: 26px;
    color: var(--ivory);
}
.meniu_nuorodos{
    display: flex;
    flex-direction: column;
}
.meniu_nuorodos a{
    font-family: sans-serif;
    padding-bottom: 14px;
    color: var(--charcoal-gray);
    font-size: 16px;
}
.meniu_nuorodos div{
    display: flex;
    font-family: sans-serif;
    height: 36px;
}
.meniu_nuorodos div p{
    position: relative;
    top: -17px;
    left: 20px;     
}
.darbo_laikas p{
    font-family: sans-serif;
    padding-bottom: 2px;
}
@media(max-width: 800px){
    footer{
        top: 0px;
    }
    .meniu_nuorodos{
        width: 150%;
    }
    .darbo_laikas p{
        position: relative;
        width: 200%;
        left: 100px;
    }
    .footer_meniu_pavadinimas_laikas{
        position: relative;
        left: 100px;
    }
}